html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

body {
  display: none;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0,0,0,0.55);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  user-select: none;
  text-rendering: auto;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

inventory {
  position: relative;
  width: 620px;
  display: flex;
  flex-direction: column;
}

inventory header {
  position: relative;
  width: 100%;
  height: 100px;
  color: #fff;
  display: flex;
  padding: 0 50px;
  border-radius: 7px;
  padding-left: 30px;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
  background: rgba(15,15,15,.75);
}

inventory header .inventory-title {
  font-size: 10px;
}

inventory header .inventory-title span {
  font-weight: 300;
  color: #848CEB;
}

inventory header small {
  opacity: .5;
  letter-spacing: 1px;
}

inventory header .inventory-weight {
  position: relative;
  top: -5px;
  width: 120px;
  height: 45px;
  white-space: nowrap;
}

inventory header .inventory-weight h2 {
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  font-size: 40px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.12);
}

inventory header .inventory-weight span {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: .7;
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 1px;
}

inventory header::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -1px;
  width: 3px;
  height: 70%;
  border-radius: 30px;
  background-color: #848CEB;
  transform: translate(0,-50%);
}

inventory section {
  display: grid;
  grid-gap: 5px;
  overflow: auto;
  margin-top: 5px;
  max-height: 460px;
  grid-template-columns: repeat(5, 120px);
}

inventory section .item,
.ui-draggable {
  width: 120px;
  height: 150px;
  display: flex;
  padding-top: 10px;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  transition: background .2s;
  justify-content: space-between;
  background: rgba(15,15,15,.5);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
}

inventory section .item img,
.ui-draggable img {
  max-width: 75%;
  pointer-events: none;
}

inventory section .item .top,
.ui-draggable .top {
  color: #fff;
  position: relative;
  justify-content: center;
  width: 100%;
  font-size: 8px;
  display: flex;
  letter-spacing: 1px;
  align-items: center;
  text-transform: uppercase;
}

inventory section .item .top b,
.ui-draggable .top b {
  color: #848CEB;
}

inventory section .item .infoItem,
.ui-draggable .infoItem {
  width: 100%;
}

inventory section .item .name-item,
.ui-draggable .name-item {
  color: #fff;
  width: 100%;
  padding: 7px;
  font-size: 8px;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0px 0px 5px 5px;
  background: rgba(15,15,15,.5);
}

inventory section .item .bar,
.ui-draggable .bar {
  width: 100%;
  height: 3px;
  overflow: hidden;
  position: relative;
}

inventory section .populated {
	background: rgba(15,15,15,.75);
	background-size: 86% !important;
}

inventory section .populated:hover {
  background: rgba(15,15,15,.90);
}

/*
=====================================
  PROGRESS INVENTORY
=====================================
*/

.weightProgress {
  position: absolute;
  right: -17px;
  top: -6px;
  transform: scaleX(-1);
}

.outer {
  -webkit-transform: rotate(150deg) scale(1.2);
  -ms-transform: rotate(150deg) scale(1.2);
  transform: rotate(150deg) scale(1.2);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; 
}

.progress {
  -webkit-transition: 0.35s stroke-dashoffset;
  -o-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(150deg) scale(1.2);
  -ms-transform: rotate(150deg) scale(1.2);
  transform: rotate(150deg) scale(1.2);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; 
}

/*
=====================================
  TOOLTIP INVENTORY
=====================================
*/

.ui-tooltip {
  position: absolute;
  pointer-events: none;
}
.ui-helper-hidden-accessible {
  display: none;
}

.tooltip {
  color: #fff;
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  padding: 10px 5px 10px 10px;
  background: rgba(15,15,15,.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tooltip .tooltip-title {
  display: flex;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 5px;
  align-items: center;
  text-transform: uppercase;
}

.tooltip .tooltip-title .mark {
  padding: 3px 5px;
  border-radius: 2px;
  letter-spacing: .5px;
  margin-right: 10px;
  text-transform: uppercase;
  background-color: #848CEB;
}

.tooltip p {
  font-size: 10px;
  width: 250px;
  opacity: .6;
  letter-spacing: .5px;
}

.tooltip .info-item {
  margin-top: 5px;
  display: flex;
  font-size: 10px;
  align-items: center;
}

.tooltip .info-item .info {
  display: flex;
  color: #fff;
  font-size: 8px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgb(51, 51, 51);
}

inventoryActions {
  padding: 5px;
  width: 100px;
  display: flex;
  margin: 0 30px;
  overflow: hidden;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  background-color: rgba(15,15,15,.5)
  /* border: 1px solid rgba(255, 255, 255, 0.10); */
}

inventoryActions button {
  width: 100%;
  display: flex;
  color: #fff;
  margin-top: 5px;
  font-size: 10px;
  font-weight: 500;
  padding: 10px;
  border-radius: 2px;
  align-items: center;
  letter-spacing: 1px;
  justify-content: center;
  text-transform: uppercase;
  background-color: #848deb;
  /* border: 1px solid rgba(255, 255, 255, 0.10); */
}

inventoryActions input {
  width: 100%;
  padding: 5px; 
  outline: none;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  background: #0606063d;
  /* border: 1px solid rgba(255, 255, 255, 0.10); */
}

.itemPrice {
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 0px;
  border-radius: 3px;
  background-color: #848deb;
}

.hoverControl {
  background: rgba(15,15,15,.90) !important;
}

.hoverControlBtn {
  background-color: #6770d6;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}

::-webkit-scrollbar {width: 0;}